<div [ngClass]="getBackgroundClass()">
    Web Notebook Page {{ currentPage }}

    <form class="notepage-form">
        <mat-form-field appearance="fill" class="note-field">
            <mat-label>Enter something inspirational...</mat-label>
            <textarea matInput rows="30"></textarea>
        </mat-form-field>
    </form>

    <div class="paginator">
        <a *ngIf="hasPrevPage()" title="Previous" [routerLink]="['/note', getPrevPageNum()]">
            <mat-icon>arrow_backward</mat-icon>
        </a><a *ngIf="hasNextPage()" title="Next" [routerLink]="['/note', getNextPageNum()]">
            <mat-icon>arrow_forward</mat-icon>
        </a>
    </div>
</div>