<div class="notebook">
    <p>Enter your notes below.</p>

    <span>Page {{ currentNote.label }} of {{ notes.length }}</span>
    <form [ngClass]="getBackgroundClass()">
        <mat-form-field appearance="standard" class="note-field">
            <mat-label>Write something inspirational...</mat-label>
            <textarea matInput rows="30" [formControl]="noteField" id="noteText"></textarea>
        </mat-form-field>
    </form>

    <div class="paginator">
        <a *ngIf="hasPrevPage()" title="Previous page" [routerLink]="['/note', getPrevPageIndex()]">
            <mat-icon>arrow_backward</mat-icon>
        </a>
        <a *ngIf="hasNextPage()" title="Next page" [routerLink]="['/note', getNextPageIndex()]">
            <mat-icon>arrow_forward</mat-icon>
        </a>
    </div>
</div>